/*dashboard design*/
.dashboard-wrapper{
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;    
}
.dash-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.dash-title {
    font-size: 2.2rem;
    font-family: 'Inter',sans-serif;
    font-weight: 800;
    color: #1e293b; /* Dark slate blue */
}
.date-selector {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 8px 16px;
    border: 1px solid #e2e8f0;
    border-radius: 10px;
    background-color: #ffffff;
}
.current-date{
    font-family: 'Inter',sans-serif;
    font-weight: 500;
}
.date-arrow {
    background: none;
    border: none;
    cursor: pointer;
    color: #2563eb;
    font-weight: bold;
}
.stats-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
    gap: 20px;
    margin-bottom: 40px;
}

.stat-card {
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stat-card p {
    font-size: 0.75rem;
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    margin-bottom: 8px;
    letter-spacing: 0.05em;
}

.stat-card h3 {
    font-size: 2rem;
    font-weight: 800;
}


#balance {
    background: linear-gradient(135deg, #3b82f6 0%, #1d4ed8 100%);
    color: #ffffff;
}

#income {
    background: #ffffff;
    color: #10b981; 
    border: 1px solid #e2e8f0;
}

#expenses {
    background: #ffffff;
    color: #ef4444; 
    border: 1px solid #e2e8f0;
}
.stat-card:hover {
      transform: translateY(-10px);
      box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
  }
/*dashboard chart design*/
.charts-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.charts-top-row{
    display: flex;
    gap: 25px;
    width: 100%;
}
@media (max-width: 768px) {
    .charts-top-row {
        flex-direction: column;
    }
}
#category-mix, #top-categories {
    flex: 1; 
}
.chart-box {
    background: #ffffff;
    border: 1px solid #f1f5f9;
    border-radius: 20px;
    padding: 24px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

.chart-box h4 {
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    color: #1e293b;
}

.chart-box img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}
/*dashboard chart design*/